.writemain {
    text-align: center;
    margin-top: 30px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    height: 100px;
    font-family: 'nanumsquare';
}


.modal {
    margin-top: 20px;
    padding: 20px;

}


.title input {
    margin-left: 35%;
    font-size: 30px;
    width: 1600px;
    border: none;
    outline: none;
    background: #FAFAFA;
    font-weight: bold;
    font-family: 'nanumsquare';
}


.content {
    margin-top: 30%;
    margin-left: 40%;
    font-size: 20px;
    border: none;
    outline: none;
    resize: none;
    background: #FAFAFA;
    overflow-wrap: break-word;
}

.contentTA {
    font-size: 25px;
    font-weight: bold;
    font-family: 'nanumsquare';
}

.imageUrls input {
    margin-top: 30%;
    margin-left: 40%;
    font-size: 20px;
    border: none;
    outline: none;
    background: #FAFAFA;
    font-family: 'nanumsquare';
}

.imageUrls .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 추가 */

}

.imageUrls button {
    white-space: nowrap;
    ;
}

.addBtn {

    width: 162px !important;
    height: 27px;
    left: 96px;
    top: 310px;
    background: #9DB8FF;
    border-radius: 10px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-right: 20px;


}

.delBtn {

    width: 162px !important;
    height: 27px;
    left: 96px;
    top: 310px;
    background: none;
    border-radius: 10px;
    border: 1px solid #9DB8FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    padding: 5px 10px;



}

.done {
    position: absolute;
    width: 90px !important;
    height: 40px;
    bottom: 50px;
    right: 50px;


    background: #9DB8FF;
    border-radius: 10px;
    border: none;

}

.backBtn input{
    position: absolute;
    width: 90px ;
    height: 40px;
    bottom: 50px;
    left: 50px;


    background: #9DB8FF;
    border-radius: 10px;
    border: none;
    

}