.writemain {
    text-align: center;
    margin-top: 30px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    height: 100px;
    font-family: 'nanumsquare';
}


.modal {
    margin-top: 20px;
    padding: 20px;

}


.title input{
    margin-left:35%;
    font-size: 30px;
    border: none;
    outline: none;
    background: #FAFAFA;
}


.content input{
    margin-top: 30%;
    margin-left: 40%;
    font-size: 20px;
    border: none;
    outline: none;
    background: #FAFAFA;
}
.imageUrls input{
    margin-top: 30%;
    margin-left: 40%;
    font-size: 20px;
    border: none;
    outline: none;
    background: #FAFAFA;
}
.adddbtn {
/* Rectangle 2194 */

position: absolute;
width: 162px;
height: 41px;
left: 96px;
top: 310px;

background: #9DB8FF;
border-radius: 50px;


}